// width_hight
$width-height_100:100%;
$width-80:80%;
$full-vp-height:100vh;
$full-vh:100vh;
$height_35:35vh;
$height_55:55vh;

// padding_margin
$margin-20:20%;
$margin_2em:2em;
$padding_25_30px:25px 30px;
$padding_10_30px:10px 30px;
$padding_15_20px:15px 20px;
$rem_2:2rem;


// bg
$bg-blue:#285bbb;
$bg-white:white;
$bg_card:#1c9dbf;

// radius
$radius_5px:5px;

// size
$xx_lg:xx-large;
$x_large:x-large;
$larger:larger;
$medium:medium;
$px_13:13px;
$px_10:10px;
$px_20:20px;
$px_30:30px;
$px_25:25px;
$px_32:32px;

